* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkslategray;
    font-family: sans-serif;
}

header {
    background-color: rgb(1, 59, 1);
    height: 8vw;
}

.Header_Parent {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5vw;
    margin-right: 10vw;
    align-items: center;
}

.div_h_h1 {
    text-align: center;
    margin-right: 12vw;
}

.div_h_h1 svg {
    height: 6vw;
    width: 6vw;
}

.Header_Parent div {
    font-size: 1.8vw;
    color: white;
    margin-top: 1vw;
    cursor: pointer;
}

.parent_for_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
}

.div_cart_for_entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    gap: 2vw;
    background-color: rgb(1, 59, 1);
    height: 30vw;
    width: 20vw;
    border-radius: 2vw;
}

.div_cart_for_entry svg {
    background-size: cover;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    margin-top: -8vw;
    margin-bottom: 2vw;
    border: solid 2px rgb(59, 59, 252);
    color: rgb(59, 59, 252);
}

.Cart_paragaraph {
    color: white;
    font-size: 1.5vw;
}

.input1_2 {
    width: 17vw;
    height: 3vw;
    border: none;
    text-align: center;
    font-size: 2vw;
}

.input_3 {
    background-color: darkslategray;
    color: white;
    height: 4vw;
    width: 10vw;
    border: none;
    border-radius: 10vw;
    font-size: 2vw;
    cursor: pointer;
}